.show-chat-room-input-div,
.chat-input-message-send-icon-div,
.cancel-chat-room-icon-div,
.chat-room-user-profile-details-div,
.chat-room-name-email-id-div,.messages-container {
    display: flex;

}

.chat-room-name-email-id-div,.messages-container {
    flex-direction: column;
}


.cancel-chat-room-icon-div {
    /* background: red; */
    width: 28%;
    top: 2%;
    padding: 6px 20px 2px 2px;
    justify-content: flex-end;
    /* justify-content: space-evenly; */
}

.show-chat-room-input-div {

    flex-direction: column;
}


.show-chat-room-input-div {
    /* position: fixed; */
    top: 20%;
    width: 23%;
    margin-left: 20px;
    justify-content: space-between;
}

.test {
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    width: 32%;
    left: 70%;
    top: 0%;
    height: 85%;
    background: white;
    box-shadow: .2px .2px 12px .2px whitesmoke;
    padding: 2px 2px 22px 2px;
    animation: showChatRoomComponentSideEffect .2s ease;
}
.messages-container {
    gap:20px;
    width: 98.8%;
    padding: 82px 2px 30px 20px;
    /* box-shadow: .2px .2px 12px lightgray; */

}

.messages-div {
    padding: 12px 2px 12px 12px;
    width: 90%;
    /* height: 12vh; */

}

.sender-message-div{
    box-shadow: .2px .2px 2px .2px inset rgb(177, 177, 177);
    background: rgba(243, 243, 243, 0.33);

}

.reciever-message-div{
    box-shadow: .2px .2px 32px .2px rgb(241, 241, 241);

}
.messages {
    width: 95%;
    word-wrap: break-word; 
}

.show-chat-room-component {
    width: 90%;
    padding: 2px 2px 22px 2px;
    
}



@keyframes showChatRoomComponentSideEffect {
    0% {
        opacity: .2;
    }

    100% {
        opacity: 1;
    }

}

.show-chat-room-component input {
    width: 87%;
    outline: none;
    justify-content: space-evenly;
    padding: 2px 2px 2px 12px;
    box-shadow: .2px .2px 2px .2px lightgray;
}

.chat-input-message-send-icon-div {
    position: fixed;
    top: 80%;
    /* left: 0%; */
    padding: 2px 16px 22px 2px;
    justify-content: space-evenly;
    gap: 10px;
    margin-top: 30px;
}

.send-message-icon-button {
  
    font-size: 1.7rem;
    color: white;
    border-radius: 4px;
    background: rgb(0, 0, 80);
    padding: 4px 4px 4px 4px;
    box-shadow: .2px .2px 12px .2px lightgray;
}

.send-message-icon-button:hover {
    background: white;
    color: rgb(0, 0, 80);
    cursor: pointer;
}

.send-message-textarea {
    resize: none;
    outline: none;
    font-family: "Montserrat";
    margin-left: -28px;
    /* border-radius: 8px; */
    border-top: 2px solid darkgray;
    box-shadow: .2px .2px 20px .2px rgba(230, 230, 230, 0.692);
    padding: 15px 12px 2px 12px;
}

.chat-profile-image {
    width: 1.8rem;
    height: auto;
}

.chat-room-email-id {
    margin-top: -3px;
    font-size: .8rem;
    color: gray;
}

.cancel-chat-room-icon-div,
.chat-room-user-profile-details-div {
    gap: 30px;
    margin-left: 32px;
    margin-top: 10px;
}

.cancel-chat-room-icon {
    font-size: 1.2rem;
    cursor: pointer;
}

.chat-room-user-profile-details-div {
    position: fixed;
    /* top:%; */
}

.chat-room-user-profile-details-container {
    z-index: +1;
    position: fixed;
    top: 0%;
    left: 70%;
    background: rgb(236, 236, 236);
    box-shadow: .2px .2px 3px .2px rgba(156, 156, 156, 0.805);
    width: 100%;
    /* height: 0%; */
    padding: 6px 2px 27px 2px;
    margin-top: -2px;
}

.chat-room-name-email-id-div {
    margin-top: -12px;
}
