@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat";
}

.left-sidebar-icons-div,.left-sidebar-links ,.left-sidebar-links-icons-div,.left-sidebar-links-div{
    display: flex;
}

.left-sidebar-links-icons-div,.left-sidebar-links,.left-sidebar-icons-div,.left-sidebar-links-div{
    flex-direction: column;
}

.left-sidebar-icons-div{
    align-items: center;
    justify-content: center;
    gap:10px;
}
.left-sidebar-links-div{
    gap:10px;
}

.left-sidebar-icon-image{
    width: 2rem;
    height: auto;
}
/* 
.left-sidebar-icons-div {
    flex-direction: row;
} */
.show-menu-bar-button{
    visibility: hidden;
}


.left-sidebar {
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 8%;
    background: white;
    box-shadow: .2px .2px 2px .2px lightgray;
    /* padding:2px 2px 2px 2px; */
    /* border-right:1px solid black; */

}

.left-sidebar-links-icons-div {
    justify-content: space-evenly;
    align-items: center;
    padding: 12px 2px 2px 2px;
}

.left-sidebar-icons {
    margin-top: 13px;
    font-size: 1.2rem;
}

.left-sidebar-links {
    justify-content: center;

align-items: center;
    margin-top: 18px;
    background: white;
    /* box-shadow: .2px .2px 12px .2px whitesmoke; */
    border-radius: 10px;
    padding: 4px 10px 4px 10px;
    color: black;
    text-decoration: none;
    gap:10px;
}

.left-sidebar-links p{
    text-align: center;
    font-size: .9rem;
}