.leave-application-sent-msg-div {
    display: flex;
    gap: 5.3px;
}

.leave-status-div {
    display: flex;
}

.leave-status-div {
    flex-direction: column;
    gap: 20px;
}

.leave-pending-status,
.leave-approved-status,
.leave-rejected-status {
    font-size: .86rem;
    border-radius: 20px;
    padding: 4px 12px 4px 12px;
}

.leave-pending-status {
    color: rgb(144, 130, 0);
    border: 2px solid rgb(188, 141, 22);
    background: rgba(252, 191, 37, 0.356);
}


.leave-approved-status {
    color: rgb(0, 147, 10);
    border: 2px solid rgb(0, 165, 11);
    background: linear-gradient(to left, rgba(1, 124, 46, 0.359), rgba(0, 145, 53, 0.31));
}


.leave-rejected-status {
    color: rgb(144, 5, 0);
    border: 2px solid rgb(198, 1, 1);
    background: rgba(252, 37, 37, 0.356);
}

.show-logged-in-employees-leave-details {
    width: 98%;
    margin-top: 10px;
    color: rgb(0, 0, 74);
    box-shadow: .2px .2px 12px .2px whitesmoke;
    padding: 2px 2px 22px 12px;
}

.apply-for-the-leave-button {
    color: white;
    background: linear-gradient(to left, rgb(0, 65, 134), rgb(0, 71, 130));
    box-shadow: .2px .2px 2px .2px lightgray;
    font-size: .9rem;
    padding: 2px 12px 2px 12px;
    margin-top: 10px;
    border-radius: 4px;

}


.apply-for-the-leave-button:hover {
    background: white;
    color: rgb(0, 65, 134);
    transition: .2s;
}

.leave-application-sent-msg-icon {
    margin-top: 16px;
    font-size: .8rem;
}

.leave-application-sent-msg-div {
    position: fixed;
    top: 0%;
    left: 45%;
    padding: 2px 2px 6px 12px;
    box-shadow: .2px .2px 2px .2px lightgray;
    width: 15%;
    color: rgb(0, 182, 0);

}

.leave-application-sent-msg-div {
    text-align: center;
}