
.employee-dialog-box-div{
    display: flex;
}

.employee-dialog-box-div{
    flex-direction: column;
}

.react-calendar{
    display:none;
    border: 2px solid black;
}

.add-new-task-heading{
    font-size: 1rem;
}