.tasks-component {
    padding: 2px 12px 2px 12px;
}

.employee-task-manager-component {
    padding: 2px 12px 2px 12px;
    margin-top: -7px;
    height: 100%;
    box-shadow: .2px .2px 4px .2px rgb(232, 232, 232);

}

.tasks-component {
    box-shadow: none;
    min-height: 93vh;
    padding: 2px 2px 32px 12px;
}