.employees-leaves-component::-webkit-scrollbar {
    background: linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255));
}


.employees-leaves-component::-webkit-scrollbar-thumb {
    background: linear-gradient(to left, rgb(245, 245, 245), rgb(235, 235, 235));
    border-radius: 2px;

}

.employee-leave-box-buttons-container,
.employee-leave-details-data-div,
.employees-leaves-container,
.employee-leave-details-key-data-row {
    display: flex;
}

.employee-leave-box-buttons-container {
    flex-direction: row;
}

.employee-leave-details-data-div {
    flex-direction: row;
}


.employees-leaves-container {
    flex-direction: column;
}

.employee-leave-details-data-div {
    margin-top: 2px;
    gap: 10px;
}

.employees-leaves-component-heading {
    font-size: 1.2rem;
}

.employees-leaves-component {
    width: 94%;
    height: 40vh;
    overflow-y: scroll;
    padding: 12px 2px 12px 15px;
}

.employees-leaves-container {
    gap: 10px;
}

.employee-leave-box-buttons-container {
    gap: 10px;
    margin-top: 10px;
}

.employee-leave-box-buttons-container button {
    padding: 2px 12px 2px 12px;
    color: white;
    font-size: .9rem;
}

.employee-leave-box-buttons-container button:nth-child(1) {
    background: rgb(0, 85, 170);
    box-shadow: .2px .2px 22px .2px rgb(240, 240, 240);

}

.employee-leave-box-buttons-container button:nth-child(2) {
    background: rgb(203, 0, 0);
    box-shadow: .2px .2px 22px .2px rgb(240, 240, 240);
}

.employee-leave-search-bar {
    outline: none;
    margin-top: 10px;
    width: 70%;
    padding: 2px 2px 2px 12px;
    box-shadow: .2px .2px 2px .2px lightgray;
}


.employee-leave-search-bar::placeholder {
    font-size: .9rem;
    font-family: "Montserrat";
}

.employee-leave-box-buttons-container button:hover {
    background: white;
    transition: .2s;
    box-shadow: .2px .2px 2px .2px lightgray;
    color: black;
}