/* .box:hover li{
    visibility: visible;
} */


/* Dashboard code */
.dashboard {
    padding: 2px 12px 2px 12px;
    margin-top: -7px;
    margin-left: 10px;
    box-shadow: .2px .2px 22px .2px rgb(232, 232, 232);
}

h3 {
    margin-top: 40px;
    margin-left: 20px;
}



.bar-chart-div,.pie-chart-div {
    border-radius: 8px;
    padding: 18px 18px 12px 18px;
    margin-top: 40px;
    height: 18rem;
}

.bar-chart-div{
    width: 40%;

}

.pie-chart-div{
    display: flex;
}

.pie-chart-div{
    justify-content: center;
    align-items: center;
}
.pie-chart-div{
    width: 22%;
    margin-left: 10px;
}

.doughnut-chart {
    height: 200px;
}


.chart-div-container {
    display: flex;
    gap: 28px;
    margin-left: 12px;
}
