
.welcome-back-card-container,.welcome-back-card-image-message-div{
    display: flex;
}

.welcome-back-card-container{
    flex-direction:column;
}

.welcome-back-card-container{
    padding: 2px 2px 12px 12px;
    border-radius: 8px;
    /* background: linear-gradient(to left,rgb(248, 254, 255),rgb(244, 253, 253)); */
    margin-left: 10px;
    margin-top: 10px;
    width: 98.2%;
    /* height: 27vh; */
    box-shadow: .2px .2px 2px .2px lightgray;
}

.welcome-back-card-container p{
    line-height: 25px;
    font-size: .9rem;
    /* font-family: "Montserrat"; */
    padding: 2px 12px 2px 1px;
}

.welcome-back-card-image-message-div img{
    margin-top: 6px;
    width: 5rem;
    height: auto;
}

.welcome-back-button{
    font-size: .9rem;
    border: none;
    color:white;
    text-decoration: none;
    font-family: "Montserrat";
    padding: 2px 12px 2px 12px;
    background: linear-gradient(to left,rgb(0, 132, 214),rgb(0, 113, 183));
    
}