.signup-container,
.signup-form,
.signup-box,
.inputs-labels-container,
.labels-div,
.inputs-div,
.gender-cateogry-div {
    display: flex;

}

.employee-account-heading {
    text-align: center;
    margin-left: -1px;
}

.signup-container {
    /* gap:820px; */
}

.signup-box,
.inputs-labels-container,
.labels-div,
.inputs-div {
    flex-direction: column;
}

.labels-div,
.inputs-div {
    justify-content: space-between;
}

.labels-div {
    gap: 20px;
}

.inputs-div {
    width: 100%;
    gap: 15px;
}

.signup-form {
    flex-direction: column;
}

.signup-container {
    width: 100%;
    height: 100vh;
    /* gap:0px; */
    justify-content: center;
}

.signup-box {
    margin-top: -10px;
    align-items: center;
    width: 100%;
    /* height: 35%; */
    padding: 2px 12px 12px 12px;
    box-shadow: .2px .2px 6px .2px whitesmoke;
}

.gender-cateogry-div {
    margin-top: 20px;
    gap: 5px;
    /* align-items: center; */
}

.gender-cateogry-div input {
    margin-top: -10px;
}

.gender-type {
    margin-left: 10px;
    background-color: none;
    box-shadow: none;
}

.inputs-labels-container {

    gap: 180px;
    /* justify-content: space-eve; */
}

.signup-box input {
    width: 100%;

    margin-top: 40px;
}

.signup-box input,
.login-box input {
    /* width: 100%; */
    outline: none;
    padding: 4px 2px 4px 12px;
    border: none;
    box-shadow: .2px .2px 2px .2px lightgray;
    margin-top: 10px;
    /* font-family: "Montserrat";  */
}


.signup-box button {
    background: linear-gradient(to left, rgb(52, 195, 252), rgb(78, 184, 255));
    font-family: "Montserrat";
    background-color: none;
    border: none;
    width: 100%;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 6px 2px 7px 2px;
    margin-top: 50px;
}

/* .signup-box input:hover{
  
} */

.select-department {
    border: none;
    font-family: "Montserrat";
    padding: 4px 3px 4px 4px;
    box-shadow: .2px .2px 12px .2px whitesmoke;
}

.sign-up-right-side-image {
    margin-top: -10px;
    background: linear-gradient(to left, rgba(137, 231, 255, 0.815), rgba(76, 213, 255, 0.692)), url("../images/add-user.png");
    height: 100%;
    width: 30%;
    background-repeat: none;
    background-size: cover;
}

.new-employee-added-div {
    background: linear-gradient(to left, rgba(0, 94, 117, 0.815), rgba(0, 71, 93, 0.692)), url("../images/add-user.png");
    background-position: center;
    color: white;
    background-size: cover;
    position: fixed;
    top: 0%;
    left: 10%;
    width: 20%;
    padding: 6px 12px 2px 2px;
    height: 10%;
    /* border: 2px solid black; */
    box-shadow: .2px .2px 2px .2px lightgray;
    animation: .2s ease newEmployeeAddedDivAnimation;
}

@keyframes newEmployeeAddedDivAnimation {
    0% {
        opacity: .2;
    }

    100% {
        opacity: 1;
    }
}

.new-employee-added-div h3 {
    margin-top: 10px;
}