.chat-box-component{
    overflow-y: scroll;
    width: 30%;
    margin-left: 10px;
    height:40%;
    margin-top: 10px;
    box-shadow: .2px .2px 22px .2px whitesmoke;
}

.image{
    width: 2rem;
    height: auto;
}

.show-all-user-to-chat-box{
    display: flex;
}

.show-all-user-to-chat-box{
    cursor: pointer;
    margin-top: 10px;
    margin-left: 20px;
    align-items: center;
    padding: 2px 2px 12px 12px;
    width: 90%;
    border-radius: 8px;
    box-shadow: .2px .2px 22px .2px rgb(239, 239, 239);
    gap:30px;
}