.chats-heading {
    font-size: 1.2rem;
}

.chat-box-component {
    padding: 2px 2px 22px 2px;
    overflow-y: scroll;
    width: 94%;
    height: 30%;
    margin-left: 10px;
    margin-top: 5px;
    box-shadow: .2px .2px 22px .2px whitesmoke;
}