@media  only screen and ( min-width:1700px) and (max-width: 3000px){
    
.left-sidebar-dashboard-div{
    display: flex;
    gap:180px;
    width: 100%;
    /* justify-content: space-around; */
    flex-direction: row;
    /* background: yellow; */
}

}



@media only screen and (min-width:200px) and (max-width: 1000px) {
    .left-sidebar-dashboard-div {
        margin-top: 20px;
        width: 95.2%;
    }

    .left-sidebar{
        width: 22%;
    }

    .show-menu-bar-button{
        visibility: hidden;
    }
 
}