.employee-of-the-month-div {
    display: flex;
}


.employee-of-the-month-div {
    flex-direction: column;
}


.employee-of-the-month-div {
    align-items: center;
    gap: 30px;
    padding: 22px 2px 11px 2px;
    margin-top: 43px;
    border-radius: 8px;
    width: 50vh;

}

.employee-of-the-month-div p {
    margin-top: -5px;
}

.employee-of-the-month-div img {
    width: 8rem;
    height: autp;
}

.employee-of-the-month-details-div {
    display: flex;
}

.employee-of-the-month-details-div {
    flex-direction: column;
}

.employee-of-the-month-details-div {
    align-items: center;
    gap: 15px;
}