@media only screen and (min-width:200px) and (max-width: 1000px) {

    .create-new-employee-account-container{
        display: flex;
    }

    .sign-up-right-side-image {
        display: none;
    }

    .signup-form{
        width: 100%;
    }


}