.create-new-employee-account-container,
.signup-form,
.create-new-employee-account-box,
.inputs-labels-container,
.labels-div,
.inputs-div,
.gender-cateogry-div {
    display: flex;

}

.create-new-employee-account-container{
    flex-direction: row;
    width: 100%;
    /* background-color: red; */
}

.employee-account-heading {
    text-align: center;
    margin-left: -1px;
}




.inputs-labels-container,
.inputs-div {
    flex-direction: column;
}


.inputs-div {
    justify-content: space-between;
}


.inputs-div {
    width: 100%;
}

.signup-form {
    flex-direction: column;
}

strong {
    margin-top: 20px;
}

.signup-form {
    width: 60%;
    margin-top: 20px;
}

.create-new-employee-account-container {
    width: 90%;
    /* height: 80%; */
    justify-content: center;
}

.create-new-employee-account-box {
    margin-top: -10px;
    width: 80%;
    /* height: 35%; */
    /* background: red; */
    padding: 2px 17px 27px 17px;
}


.sign-up-right-side-image {
    position: relative;
    left: 0%;
    margin-top: -10px;
    /* margin: -10px 2px 2px 0px ; */
    width: 30%;
    height: 101%;
    background: linear-gradient(to left, rgba(137, 231, 255, 0.815), rgba(76, 213, 255, 0.692)), url("../../RegisterComponent/images/add-user.png");
    background-repeat: none;
    background-size: cover;
}

.gender-cateogry-div {
    margin-top: 20px;
    gap: 5px;
}


.inputs-labels-container {
    gap: 180px;
}

.create-new-employee-account-box input {
    margin-top: 17px;
}

.form-inputs,
.login-box input {
    /* width: 100%; */
    /* margin-top: -10px; */
    /* font-family: "Montserrat";  */
    outline: none;
    padding: 4px 2px 4px 12px;
    border: none;
}


.form-inputs {
    box-shadow: .2px .2px 2px .2px lightgray;

}

.gender-cateogry-div{
    /* height: 2vh; */
    gap:20px;
}

.gender-cateogry-div label{
    margin-top: 10px;
}
.gender-type {
    height: 2vh;
    margin-top: -20px;
    margin-left: 0px;
}


.create-new-employee-account-box button {
    background: linear-gradient(to left, rgb(52, 195, 252), rgb(78, 184, 255));
    font-family: "Montserrat";
    background-color: none;
    border: none;
    width: 100%;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 3px 2px 2px 2px;
    margin-top: 50px;
}

.select-department {
    border: none;
    font-family: "Montserrat";
    padding: 4px 3px 4px 4px;
    box-shadow: .2px .2px 12px .2px whitesmoke;
}


.new-employee-added-div {
    background: linear-gradient(to left, rgba(0, 94, 117, 0.815), rgba(0, 71, 93, 0.692)), url("../../RegisterComponent/images/add-user.png");
    background-position: center;
    color: white;
    background-size: cover;
    position: fixed;
    top: 0%;
    left: 10%;
    width: 20%;
    padding: 6px 12px 2px 2px;
    height: 10%;
    /* border: 2px solid black; */
    box-shadow: .2px .2px 2px .2px lightgray;
    animation: .2s ease newEmployeeAddedDivAnimation;
}

@keyframes newEmployeeAddedDivAnimation {
    0% {
        opacity: .2;
    }

    100% {
        opacity: 1;
    }
}

.new-employee-added-div h3 {
    margin-top: 10px;
}


.d {
    margin-left: 120px;
    width: 100%;
    justify-content: space-between;
    display: flex;
    gap: 100px;
}

.signup-error-message{
    color:red;
}